<h1>Edit Items</h1>
<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |msg| %>
      <div class='alert alert-danger'><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :qty%><br>
    <%= f.text_field :qty, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :price%><br>
    <%= f.text_field :price, class: 'form-control'%>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
