<h1>Add Worker</h1>
<%= form_for :worker, url: worker_index_path do |f| %>
  <% if @worker.errors.any? %>
    <% @worker.errors.full_messages.each do |msg| %>
      <div class='alert alert-danger'><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :age%><br>
    <%= f.text_field :age, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :address%><br>
    <%= f.text_field :address, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :gender%><br>
    <%= f.select :gender,['Male', 'Female'], class: 'form form-group form-control'%>
  </p>
  <p>
    <%= f.label :role%><br>
    <%= f.text_field :role, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :wage%><br>
    <%= f.text_field :wage, class: 'form-control'%>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
