<h2><%= @workers.name %></h2>
<h4><%= @workers.age %></h4>
<h4><%= @workers.gender %></h4>
<h5><%= @workers.role %></h5>
<h5><%= @workers.wage %></h5>
<p><%= @workers.address %></p>
<hr>
<%= link_to "Edit", edit_worker_path(@workers), class:'btn btn-default'%>
