<h1>Add Dishes</h1>
<%= form_for :dish, url: dish_index_path do |f| %>
  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name%>
  </p>
  <p>
    <%= f.label :price%><br>
    <%= f.text_field :price%>
  </p>
  <p>
    <%= f.label :description%><br>
    <%= f.text_field :description%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
